.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

.container nav {
  background: #fff;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;
}

.container main {
  background: #fff;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: black;
}

.container main h3{
  padding-top: 10px;
  color: black;
  font-size: 5em;
}
#sidebar {
  background: #929292;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;
}

#content1 {
  background: #fff;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: black;
}

#content2 {
  background: #929292;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white; 
}

#content3 {
  background: #fff;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.container footer {
  background: #929292;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.container a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

